# Backend
backend/resumescreener/target/
backend/resumescreener/src/main/resources/application.yml

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
